/* Global variables, mixins, etc. */
/* line 3, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right {
  -webkit-transition-property: translate;
  -moz-transition-property: translate;
  -o-transition-property: translate;
  transition-property: translate;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translateX(340px);
  -moz-transform: translateX(340px);
  -ms-transform: translateX(340px);
  -o-transform: translateX(340px);
  transform: translateX(340px);
  position: fixed;
  right: 0px;
  top: 76px;
  z-index: 100;
  height: 100%;
  width: 340px;
  opacity: 0.98;
  background: #ffffff;
}
@media only screen and (max-width: 640px) {
  /* line 3, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 58px;
    position: absolute;
    height: 500px;
    width: 198px;
  }
  /* line 22, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right h2 {
    margin-top: 8px;
  }
  /* line 25, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right #csc-column-content {
    padding: 8px;
    width: 186px;
  }
  /* line 29, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right #edit-search-block-form--2 {
    width: 7.4em;
  }
}
/* line 34, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.in {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 39, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-top {
  float: left;
  width: 100%;
  position: relative;
  background: #e8e7e5;
}

/* line 46, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-title {
  margin: 12px 0px 8px;
  opacity: 0.7;
  color: #000;
  font-family: brandon;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 46, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-column-title {
    font-size: 14px;
  }
}

/* line 60, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font: bold 18px brandon;
  text-transform: uppercase;
  color: #444;
}
@media only screen and (max-width: 640px) {
  /* line 60, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-column-close {
    right: 8px;
    top: 6px;
    font-size: 15px;
  }
}

/* line 75, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-content {
  float: left;
  width: 312px;
  padding: 20px;
}

/* line 81, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
.csc-hide {
  display: none;
}

/* line 82, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
.csc-show {
  display: block;
}
