.csc-3col-container{
  float: left;
  width: 100%;
  display: table;
}

.csc-3col-wrapper{
  display: table-row;
}

.csc-3col-col-fixed{
  float: left;
  width: 150px;
  display: table-cell;
}

.csc-3col-col-fluid{
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
